* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  width: 50%;
  margin: auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
img {
  /* padding-bottom: 2em;
    padding-right: 10em;
    padding-left: 3em;
    padding-top: 2em; */
  padding: 2em 10em 2em 3em;
}
.sedans {
  background-color: hsl(31, 77%, 52%);
  height: 27em;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.suvs {
  background-color: hsl(184, 100%, 22%);
  height: 27em;
}
.luxury {
  background-color: hsl(179, 100%, 13%);
  height: 27em;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
h2 {
  padding-left: 2em;
  padding-bottom: 2em;
  color: white;
  font-family: 'Big Shoulders Display', cursive;
}

p {
  padding: 0 3em 6em 3em;
  color: white;
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
}
button {
  background-color: white;
  margin-left: 3em;
  padding: 0.8em 1.5em;
  border-radius: 16px;
  margin-bottom: 3em;
  color: white;
  border: none;
}
.sedans button {
  color: hsl(31, 77%, 52%);
}
.suvs button {
  color: hsl(184, 100%, 22%);
}
.luxury button {
  color: hsl(179, 100%, 13%);
}
button:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}
